.product-container,
.mob-container {
  display: block;
}


@media (min-width: 768px) {
  .mob-container {
    display: none;
  }
}


@media (max-width: 767px) {
  .product-container {
    display: none;
  }
}
