/* Default styles */
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category h2,.category  h3{
  padding: 6%;
}
.category  h3{
  color: rgb(60, 60, 223);
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 180px;
  height: 180px;
}

@media (max-width: 580px) { 

.category h2{
    font-size: 18px;
    
  }
.category  h3{
  font-size: 13px;
  
}
  .product-image {
    width: 150px;
    height: 150px;
  }
}
/* Styles for screens under 768px */
@media (max-width: 400px) { 
  /* .product-grid {
    grid-template-columns: 1fr;
  }

  /* .product-card {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  } */
.category h2{
    font-size: 18px;
}
.category  h3{
  font-size: 13px;
  
}
  .product-image {
    width: 100px;
    height: 100px;
  }
}

/* Styles for screens under 480px */
@media (max-width: 270px) {
  .container {
    gap: 1.5rem;
    padding: 1%;
  }

  .category {
    gap: 0.75rem;
  }

  .product-grid {
    gap: 0.75rem;
  }

  .product-card {
    gap: 0.75rem;
  }
  .category h2{
    font-size: 15px;
    padding: 3%;
  }
.category  h3{
  font-size: 10px;
  padding: 3%;
}
  .product-image {
    width: 80px;
    height: 80px;
    background-color: red;
  }
}