.footer {
  background-color: #232F3E;
  color: #fff;
  padding: 30px;
  margin-top: 30vh;
}

.footerTop {
  text-align: center;
  margin-bottom: 1.5rem;
}

.backToTop {
  color: #fff;
  text-decoration: none;

}

.backToTop:hover {
  text-decoration: underline;
}

.footerMiddle {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-right: 15%;
  align-items: top;
  margin-left: 15%;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.footerHeading {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footerList {
  list-style-type: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 0.5rem;
}

.footerList a {
  color: #fff;
  text-decoration: none;
}

.footerList a:hover {
  text-decoration: underline;
}

.footerBottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

.copyrightText {
  color: #9b9b9b;
}

@media (max-width: 768px) {
  .footerMiddle {
    grid-template-columns: 1fr;
  }

  .footerTop {
    text-align: center;
  }
}